.panebg{
    -fx-background-image: url("background1.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

.bgflag{
    -fx-background-image: url("background9.png");
    -fx-background-size: cover;
}